<mat-toolbar color="primary" class="toolbar">
  <button mat-button routerLink="/home">
    <mat-icon>travel_explore</mat-icon>
    <span>UltraGroup Booking</span>
  </button>
  <app-user-avatar></app-user-avatar>
</mat-toolbar>
<section class="wrapper">
  <div class="actions">
    <button mat-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h4 class="text__title">Here you can manage  your Hotels and see the reservations</h4>
    <button mat-fab extended color="accent">
      <mat-icon>add</mat-icon>
      New hotel
    </button>
  </div>
  <router-outlet></router-outlet>
</section>
