@import 'colors/colors';

.wrapper {
  padding: 20px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  &__title {
    color: $color-label;
    text-align: left;
    margin: 0;
  }
}

.actions {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

}