<div class="actions">
  <button class="actions__icon" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4 class="text__title">Here you can manage  your Hotels and see the reservations</h4>
  <button mat-fab extended color="accent" routerLink="/dashboard/hotels/add">
    <mat-icon>add</mat-icon>
    New hotel
  </button>
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Hotels" *ngIf="(hotels$ | async) as hotels">
    <app-hotel-list [hotels]="hotels"></app-hotel-list>
  </mat-tab>
  <mat-tab label="Bookings">Content 2</mat-tab>
</mat-tab-group>
