<section class="guests">
  <h1>Please type information for all guests</h1>
  <form *ngIf="guestsForm" [formGroup]="guestsForm">
    <mat-stepper #stepper orientation="vertical">
      <ng-container formArrayName="guests">
        <mat-step
          *ngFor="
            let guestForm of guestsControl.controls;
            let index = index;
            let first = first;
          "
          [stepControl]="guestForm"
          errorMessage="Guest {{index+1}} is missing information"
        >
        <ng-template matStepLabel>Guest {{index+1}}</ng-template>
        <app-guest-form [guestForm]="guestForm"></app-guest-form>
          <div class="guests__actions">
            <button mat-raised-button color="accent" matStepperPrevious *ngIf="!first">Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </mat-step>
      </ng-container>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="guests__actions">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" [disabled]="guestsForm.invalid" (click)="stepper.reset()">Save</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</section>
